# Database Configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/auto_withdraw_db

# Maxpay Configuration
MAXPAY_API_KEY=pkTest_KpPjoClsoqqadtjgZMTcIkWTxq0Y4wm1
MAXPAY_API_SECRET=skTest_XRJ8kKwuosJwB7wsWU4wkZWXMDhsXNXv
MAXPAY_MERCHANT_ID=ID12345
MAXPAY_BASE_URL=https://api.maxpay.com/v1

# Server Configuration
PORT=3001
NODE_ENV=development

# Logging
LOG_LEVEL=info